body{
    background-color: #181A1B;
    margin: 0;
    padding: 0;
    height: 100%;
}

main{
    margin-top: 100px;

}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    
}


p{
    color: white;
    font-size: 14px;
    text-align: justify;
}

button{
    border-radius: 50%;
    padding: 10px;
     border: solid 2px red; /*Optei por colocar a cor vermelha */
    margin-top: 20px;

}

footer {
    background-image: linear-gradient(to right, #0f0d0f, #c52bd3);
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
  }

footer p{
    color: #fff;
    text-align: center;
    padding-top: 75px;
}

/* Ja havia feito o exercicio 6 quando coloquei as imagens  */
img.padrao{
    width: auto;
    height: 100px;
    display: inline-block;
    padding: 50px;
}

h1.titulo{
    background-image: url(../img/fundo.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    
}

.menu {
    background-image: linear-gradient(to right, #0f0d0f, #c52bd3);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

.menu a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 21px;
}


.menu a:hover {
  background-color: #fff;
  color: black;
  transition: 0.3s;
}

.menu a.active {
  background-color: #8780df;
  color: #fff;
}


.menu-right {
  float: right;
}

.menu img {
    float: left;
    display: block;
    padding: 10px 5px;
    height: auto;
    width: 200px;
  }

